<div>
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Assignments</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Assignments List
                        </div>
                        <!-- .panel-heading -->
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">

                                <div class="panel panel-default">
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <i class="fa fa-file-text-o fa-fw"></i> <a>Homework 1</a> <br> <b>Closed</b> | <b>Due</b> Sep 24 at 11:59 pm | 
                                            <b>80</b>/100 pts
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <i class="fa fa-file-text-o fa-fw"></i> <a>Homework 2</a> <br> <b>Closed</b> | <b>Due</b> Sep 24 at 11:59 pm | 
                                            <b>80</b>/100 pts
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <i class="fa fa-file-text-o fa-fw"></i> <a>Homework 3</a> <br> <b>Available until</b> Dec 12 | <b>Due</b> Dec 12 at 11:59 pm | 
                                            <b>-</b>/100 pts
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
</div>